<div class="row">
  <div class="col-lg-3">
	{{#power-calendar
	  locale="fr"
	  selected=selected
	  center=center
	  onSelect=(action "onSelectDay" value="moment")
	  onCenterChange=(action (mut center) value="date") as |calendar|}}
			  {{calendar.nav}}
			  {{calendar.days}}
	{{/power-calendar}}
  </div>
  <div class="col-lg-9">
	<h2 class="text-center">{{model.date.jour}}</h2>
	{{creation-evenement 
		visible=false
		clicSauvegarder=(action 'sauvegarderNouvelEvenement' form-group)}}
	{{#each model.evenements as |event|}}
		<h3>{{event.titre}}</h3>
		<p>{{event.description}}</p>
	{{/each}}
  </div>
</div>